/* regole generali */
*{
 margin:0
 padding.0;
 box-sizing: border-box;
 font-family: "product sans","open sans",arial,sans-serif;
 color:#5f6368;
 text-decoration: none;
}

 i, a {
 color:#3367d6;
 cursor: pointer;
}

h2{
 color: #3c4043;
}

/* header general */
header{
 position: fixed;
 top: 0;
 width: 100%;
 border-bottom: 1px solid rgba(151,151,151,0.5);
 height: 100px;
 background-color: white;
 z-index: 1;
 padding: 20px;
}

/* header sup */
.log{
 display: flex;
 justify-content: flex-start;
}

a:nth-child(2){
 padding-left: 15px;
 font-size: 20px;
}

/* header inf */
.navbar{
 display: flex;
 justify-content: space-between;
}

.nav_list ul li{
 display: inline-block;
 padding-right: 25px;
 cursor: pointer;
}

.account{
 padding-right: 30px;
}

#opentext{
 color: #3367d6;
 border-bottom: 4px solid #3367d6;
 padding-right: 0;
 cursor: pointer;
}

/* main */
.faq{
 padding: 180px;
}

/* footer */
.footerContainer{
 width: 80%;
 margin: 0 auto;
 line-height: 50px;
 border: 1px solid grey;
}

.footer_left{
 float: left;
 width: 50%;
 background-color: #f5f5f5;
}

.footer_left a{
 font-size: 11px;
 padding-left: 10px;
}

.footer_left a:visited, .footer_left a:link{
 color:rgba(61,61,61,0.8);
}

.footer_right{
 float: right;
 width: 50%;
 text-align: right;
 background-color: #f5f5f5;
}

.footer_right #language{
 border-color: rgb(169, 169, 169);
 width: 40%;
}
